root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[{Makefile,*.mk}]
indent_style = tab
indent_size = 4

[{justfile,*.just}]
indent_style = tab
indent_size = 4

[*.{rs,py}]
indent_size = 4
