[user]
	name = leelhn2345
	email = leelhn2345@outlook.com
[color]
	ui = auto
[core]
	editor = code --wait
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
