export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=password
export POSTGRES_HOST=localhost
export POSTGRES_PORT=5432

export MINIO_USER=user
export MINIO_PASSWORD=password

export REDIS_PASSWORD=password
